* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right,
      white 0%,
      white 50%,
      #A65151 50%,
      #A65151 100%);
}

.abt-container {
  padding-top: 30px;
  background-color: #A65151;

}

.projects-container {
  padding-top: 100px;
  padding-bottom: 300px;
  background-color: #A65151;
}

.navbar-container {
  background: linear-gradient(to right,
      white 0%,
      white 50%,
      #A65151 50%,
      #A65151 100%);
}

.pinkCont {
  background-color: #A65151;
}

.whiteBg {
  background-color: #fff;
}

.navbar-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left,
      white 0%,
      white 50%,
      #A65151 50%,
      #A65151 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=IBM+Plex+Mono:ital,wght@0,700;1,500&family=Oswald:wght@200;300&family=Petit+Formal+Script&family=Sacramento&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Petit+Formal+Script&family=Sacramento&family=Style+Script&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Oswald:wght@200;300&family=Petit+Formal+Script&family=Sacramento&family=Style+Script&display=swap');

.fC {
  font-family: 'Handjet', cursive;
}

.objectiveText {
  font-family: 'IBM Plex Mono', monospace;
}

.designer {
  font-family: 'Oswald', sans-serif;

}

.myS {
  font-family: 'Sacramento', cursive;
  color: #fff;
  padding-top: 30px;
}


.navbar-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;

}

.sidebar {
  float: left;
  position: fixed;
  top: 85%;
  margin-left: 5px;
}

.bg {
  background-color: rgb(255, 255, 255, 0.9);
  border-bottom: 8px solid rgb(166, 81, 81);
  border-top: 8px solid rgb(166, 81, 81);

}

/* .codeIcons {
  float: right;
} */


.popup-container {
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: white;
  border: 2px solid #A65151;
  /* Remove the single quotes around the color code */
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}


.popup-container img {
  width: 200px;
  /* Adjust the size as needed */
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.skills-container {
  padding: 50px;

  background-color: white;
  /* Adjust the value as per your requirement */
}


.card-body {
  background-color: rgb(166, 81, 81, 0.9);
  padding: 20px;

}

.abt-container {
  padding-bottom: 200px;
}





.opposite-center {
  position: fixed;
  top: 70%;
  left: 50%;
  /* Optionally, you can center it horizontally as well */
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.opposite-center h1 {
  font-size: 100px;
  margin-left: 25px;

}

.hello {
  background-color: (255, 255, 255, 0.5);
}

.col-sm-12-p {
  position: absolute;
  top: 45%;
  right: 25%;
}

.col-sm-12-i {
  position: absolute;
  top: 30%;
  left: 25%;
}





.welcome-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 100vh;
  background-color: #A65151;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Optional: Add padding */
}

.welcome-sidebar p {
  writing-mode: vertical-lr;
  /* transform: rotate(0deg); */
  font-size: 32px;
  font-weight: 1.5rem;
  color: #20A876;
}

.welcome-sidebar :before {
  content: "";
  position: absolute;
  margin-top: 115px;
  top: 0;
  width: 3px;
  height: 220px;
  background-color: white;
  left: 44%;
  border-radius: 2px;
}



.welcome-sidebar :after {
  content: "";
  position: absolute;
  margin-bottom: 115px;
  bottom: 0;
  width: 3px;
  height: 220px;
  background-color: white;
  left: 44%;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.hiImage-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.Story {
  position: absolute;
  left: 5%;
}


.samImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}



.image-container {
  position: absolute;
  top: 60%;
  left: 26%;
  right: 0;
  height: 170px;

  padding-top: 30px;

}

.hiImage-container {
  position: absolute;
  top: 80%;
  left: 26%;
  right: 0;
  height: 170px;
  padding-top: 30px;
}

.about-container {
  position: absolute;
  left: 26%;
  text-align: left;
  color: #000;
  margin-right: 20px;

}

.col-4-myS {
  position: absolute;
  top: 30%;
  height: 50%;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.5);

}

.col-4-myS h2 {
  text-align: center;

}


@media (max-width: 1092px) {
  .hw {
    position: relative !important;
    right: -80px !important;
    top: +74px !important;
    font-size: 38px !important;
  }

  .samImg {
    width: 280px !important;
    height: 280px !important;
    position: relative !important;
    right: +65px !important;
    top: -20px !important;
  }
}